/*------------------------------------------------*/
/*	presentation
/*------------------------------------------------*/

.presentation {
	background-color: $presentation-bg-color;

	p {
		text-align: justify;
	}
}

.interest {
	margin: 30px 0;

	.sub-heading {
		margin-bottom: 15px;

		.glyphicon {
			margin-right: 5px;
		}
	}

}